{% extends '_layout/admin.njk' %}

{% block content %}
  <form class="wrapper" action="/admin/chefs?_method=PUT" method="post">
    <div class="form-item">
      <h1>Criando chef</h1>
      <input type="submit" value="Deletar" form="form-delete" id="button-delete">
      <input type="submit" value="Salvar chef">
    </div>

    {% include 'admin/chefs/fields.njk' %}

    <input type="hidden" name="id" value={{chef.id}}>

  </form>

  <form action="/admin/chefs?_method=DELETE" method="post" id="form-delete">
    <input type="hidden" name="id" value="{{ chef.id }}" data-recipes={{chef.recipes_count}}>
  </form>

<script>
  const formDelete = document.querySelector('#form-delete');
  formDelete.addEventListener('submit', function(event) {
    const recipesCount = document.querySelector('#form-delete input').dataset.recipes;

    if (recipesCount > 0) {
      alert('Chefs com receitas cadastradas não podem ser deletados!');
      event.preventDefault();
    }
  });
</script>
{% endblock content %}
