<div class="form-item">
  <label for="name">Nome</label>
  <input type="text" name="name" id="name" value="{{ chef.name }}">
</div>

<div class="form-item">
  <label for="avatar_url">Avatar</label>
  <input type="url" name="avatar_url" id="avatar_url" value="{{ chef.avatar_url }}">
</div>
