{% extends 'layoutAdmin.njk' %}

{% block content %}
  <section class="wrapper admin">
    <div class="title">
      <h1>Gerenciar receitas</h1>
      <button class="primary-button">
        <a href="/admin/recipes/create">Novo</a>
      </button>
    </div>

    <div class="recipes">
      {% for recipe in recipes %}
        <div class="recipe">
          <div class="img-wrapper">
            <img src="{{ recipe.avatar_url }}" alt="{{ recipe.name }}">
          </div>
          <div class="content-wrapper">
            <h3>{{ recipe.name }}</h3>
            <p>por {{ recipe.author }}</p>
            <a href="/admin/recipes/{{ loop.index }}">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock content %}
