{% extends 'main/layout.njk' %}

{% block content %}

  <section class="hero container">
    <article class="hero__content">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </article>
    <img src="/assets/chef.png" alt="chef">
  </section>

  <section class="container">
    <h2 class="title">Mais acessadas</h2>

    <div class="recipes-grid">

      {% for recipe in recipes %}
        <a href="/recipes/{{ recipe.id }}" class="recipes-grid__item">
          <div class="recipes-grid__image">
            <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
          </div>
          <div class="card-info">
            <p>{{ recipe.title }}</p>
            <small>por {{ recipe.chef_name }}</small>
          </div>
        </a>
      {% endfor %}

    </div>
  </section>

{% endblock content %}
