{% extends '_layouts/main.njk' %}

{% block content %}

  <section class="hero container">
    <article class="hero__content">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </article>
    <img src="/assets/chef.png" alt="chef">
  </section>

  <section class="container">
    <h2 class="title">Mais acessadas</h2>

    {% include '_components/recipesGridx3.njk' %}
  </section>

{% endblock content %}
