@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-text-primary: #111111;
  --color-text-secondary: #777777;
}

* {
  margin: 0;
  bottom: 0;
  border: 0;
  box-sizing: border-box;
}

body, html {
  min-height: 100vh;
  width: 100%;
}

body, a {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text-primary);
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto 50px;
}
/*=== TYPOGRAPHY ===*/
p {
  font-size: 18px;
  line-height: 21px;
}

small {
  font-size: 14px;
  line-height: 16px;
  color: var(--color-text-secondary);
}

.title {
  font-size: 24px;
  line-height: 28px;
}

/*=== MAIN ===*/
/*=== MAIN.LAYOUT ===*/
body {
  display: grid;
  grid-template: 80px 1fr 62px / 1fr;
}

a:hover {
  color: #777;
  transition: color 300ms ease;
}

/*=== MAIN.LAYOUT.HEADER ===*/
header,
.menu {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

#logo {
  margin-right: 50px;
}

.menu__row {
  display: flex;
}

.menu__row li + li {
  margin-left: 30px;
}

.menu__row a.active {
  font-weight: bold;
}

/*=== MAIN.LAYOUT.FOOTER ===*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #eee;
}

footer small {
  color: #999;
}

/*=== MAIN.HOME ===*/
/*=== MAIN.HOME.HERO ===*/
.hero {
  border-radius: 30px;
  background-color: #FBDFDB;
  height: 366px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: flex-end;
}

.hero__content {
  align-self: center;

  width: 70%;
}

.hero__content h1 {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 10px;
}

.hero__content p {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
}

/*=== MAIN.ABOUT ===*/
.about h1 {
  margin-bottom: 20px;
}

.about h2 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

.about p {
  color: #444;
  margin-bottom: 30px;
}

/*=== MAIN.RECIPE ===*/
.banner {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 50px;
}

.banner img {
  width: 100%;
  object-fit: cover;
}

.header__recipe {
  text-align: center;
  margin-bottom: 50px;
}

.header__recipe h1 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 4px;
}

.header__recipe p {
  font-size: 20px;
  line-height: 24px;
  color: var(--color-text-secondary);
}

.acordion .title {
  margin-bottom: 20px;
}

.acordion__toggle {
  font-size: 12px;
  line-height: 14px;
  color: #999;
  text-transform: uppercase;

  margin-left: 8px;
  cursor: pointer;
}

.acordion__toggle:hover {
  opacity: 0.7;
}

.acordion__body {
  font-size: 18px;
  line-height: 28px;
  color: #444;

  margin-bottom: 50px;
}

.acordion__body.hide {
  display: none;
}

ul.acordion__body {
  list-style: disc;
  padding-inline-start: 1em;
}

/*=== ADMIN ===*/
/*=== ADMIN.LAYOUT ===*/
.header--admin + main {
  padding-top: 50px;
}

/*=== ADMIN.LAYOUT.HEADER ===*/
.header--admin {
  background-color: var(--color-text-primary);
}

.header__link--admin {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
}

.header__link--admin.active {
  color: #fff;
}

/*=== ADMIN.CHEFS ===*/
/*=== ADMIN.CHEFS.INDEX ===*/
.title__row {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}

.button {
  padding: 9px 20px;
  border-radius: 4px;
  
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.button--primary {
  background-color: #6558C3;
}

/*=== ADMIN.CHEFS.SHOW ===*/
.header--chef {
  text-align: center;
}

.header--chef img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px;
}

.header--chef h2 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 4px;
}

.header--chef p {
  font-size: 20px;
  line-height: 24px;
  color: var(--color-text-secondary);
}


/*=== ADMIN.CHEFS.EDIT ===*/
.button--delete {
  background-color: #DC4747;
  margin: 0 10px 0 auto;
}

/*=== RECIPES ===*/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px 20px;
}

.grid p {
  margin-bottom: 5px;
}

.grid--recipes {
  margin-top: 20px;
}

.grid__item--recipes {
  display: grid;
  grid-template-rows: 140px 1fr;
  gap: 20px;
}

.grid__image--recipes {
  border-radius: 15px;
  overflow: hidden;
}

.grid__image--recipes img {
  height: 100%;
  object-fit: cover;
  margin-left: -30%;
}

/*=== RECIPES x2 ===*/
.grid--recipes-x2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px 30px;
}

.grid__item--recipes-x2 {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 80px;
  gap: 20px;
}

.grid__image--recipes-x2 {
  border-radius: 8px;
  overflow: hidden;
}

.grid__image--recipes-x2 img {
  height: 100%;
  object-fit: cover;
}

.grid__content--recipes-x2 p {
  margin-bottom: 5px;
}

.grid__content--recipes-x2 a {
  margin-top: 10px;
}

.view-link {
  display: block;
  color: #6558C3;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

/*=== CHEFS ===*/
.grid--chefs {
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.grid__item--chefs {
  display: grid;
  grid-template-columns: 64px 1fr;
  column-gap: 20px;
  align-items: center;
}

.grid__item--chefs img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

/*=== FORM ===*/
form {
  font-size: 16px;
  line-height: 19px;
}

.form__label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.form__input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px 20px;
  margin-bottom: 30px;
  width: 100%;
}
