<label class="form__label" for="name">Nome</label>
<input class="form__input" type="text" name="name" id="name" value="{{ chef.name }}">

<label class="form__label" for="avatar_url">Avatar</label>
<input class="form__input" type="url" name="avatar_url" id="avatar_url" value="{{ chef.avatar_url }}">
