{% extends 'admin/layout.njk' %}

{% block content %}
  <form class="wrapper" action="/admin/recipes" method="post">
    <div class="form-item">
      <h1>Criando receita</h1>
      <input type="submit" value="Salvar receita">
    </div>

    {% include 'admin/recipes/fields.njk' %}

  </form>
{% endblock content %}
