{% extends '_layouts/admin.njk' %}

{% block content %}
  <form class="container" action="/admin/recipes?_method=PUT" method="post" enctype="multipart/form-data">
    <div class="title__row">
      <h1 class="title">Criando receita</h1>
      <input class="button button--delete" type="submit" value="Deletar" form="form-delete" id="button-delete">
      <input class="button button--primary" type="submit" value="Salvar receita">
    </div>

    {% include '_components/fieldsRecipes.njk' %}

    <input type="hidden" name="id" value="{{ recipe.id }}">

  </form>

  <form action="/admin/recipes?_method=DELETE" method="post" id="form-delete">
    <input type="hidden" name="id" value="{{ recipe.id }}">
  </form>
{% endblock content %}
