{% extends 'admin/layout.njk' %}

{% block content %}
  <form class="wrapper" action="/admin/recipes?_method=PUT" method="post">
    <div class="form-item">
      <h1>Criando receita</h1>
      <input type="submit" value="Deletar" form="form-delete" id="button-delete">
      <input type="submit" value="Salvar receita">
    </div>

    {% include 'admin/recipes/fields.njk' %}

    <input type="hidden" name="id" value="{{ recipe.id }}">

  </form>

  <form action="/admin/recipes?_method=DELETE" method="post" id="form-delete">
    <input type="hidden" name="id" value="{{ recipe.id }}">
  </form>
{% endblock content %}
