<div class="form-item">
  <label for="title">Nome do prato</label>
  <input type="text" name="title" id="title" value="{{ recipe.title }}">
</div>

<div class="form-item">
  <label for="chef_id">Chef</label>
  <select name="chef_id" id="chef_id" required>
    {% if recipe.chef_id %}
      <option value="" selected disabled hidden>Selecione um chef</option>
    {% endif %}
    {% for chef in chefOptions %}
      <option value={{chef.id}} {% if chef.id == recipe.chef_id %}selected{% endif %}>{{ chef.name }}</option>
    {% endfor %}
  </select>
</div>

<div class="form-item">
  <label for="image">Imagem da receita</label>
  <input type="url" name="image" id="image" value="{{ recipe.image }}">
</div>

<div class="form-item">
  <label for="ingredients">Ingredientes</label>
  {% for ingredient in recipe.ingredients %}
    <input type="text" name="ingredients[]" class="ingredient" value="{{ recipe.ingredients[loop.index - 1] }}">
  {% else %}
    <input type="text" name="ingredients[]" class="ingredient">
  {% endfor %}
  <span class="add-ingredient">Adicionar novo ingrediente</span>
</div>

<div class="form-item">
  <label for="preparation">Modo de preparo</label>
  {% for step in recipe.preparation %}
    <input type="text" name="preparation[]" class="step" value="{{ recipe.preparation[loop.index - 1] }}">
  {% else %}
    <input type="text" name="preparation[]" class="step">
  {% endfor %}
  <span class="add-step">Adicionar novo passo</span>
</div>

<div class="form-item">
  <label for="information">Informações adicionais</label>
  <textarea name="information" id="information" rows="10" >{{ recipe.information }}</textarea>
</div>
