{% extends '_layouts/admin.njk' %}

{% block content %}
  <section class="title__row container">
    <h1 class="title">Receita: {{ recipe.title }}</h1>
    <a href="/admin/recipes/{{ recipe.id }}/edit">
      <button class="button button--primary">
        Editar receita
      </button>
    </a>
  </section>

  <section class="container banner">
    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
  </section>

  <section class="header__recipe">
    <h1>{{ recipe.title }}</h1>
    <p>por {{ recipe.chef_name }}</p>
  </section>

  <section class="acordion container">
    <h2 class="title">Ingredientes</h2>

    <ul class="acordion__body acordion__body--ingredients acordion__body--dash">
      {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
  </section>

  <section class="acordion container">
    <h2 class="title">Modo de preparo</h2>

    <ul class="acordion__body acordion__body--preparation acordion__body--dash">
      {% for item in recipe.preparation %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </section>

  <section class="acordion container">
    <h2 class="title">Informações adicionais</h2>

    <p class="acordion__body acordion__body--information">{{ recipe.information  }}</p>
  </section>

{% endblock content %}
