{% extends 'admin/layout.njk' %}

{% block content %}
<div class="wrapper recipe admin">
  <div class="title">
    <h1>Receita: {{ recipe.title }}</h1>
    <button class="primary-button" type="button" >
      <a href="/admin/recipes/{{ recipe.id }}/edit">Editar receita</a>
    </button>
  </div>

  <div class="banner">
    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
  </div>
  <h1>{{ recipe.title }}</h1>
  <p>por {{ recipe.chef_name }}</p>

  <section class="recipe-section">
    <h2>Ingredientes</h2>

    <ul id="ingredients">
      {% for ingredient in recipe.ingredients %}
        <li> {{ ingredient }}</li>
      {% endfor %}
    </ul>
  </section>

  <section class="recipe-section">
    <h2>Modo de preparo</h2>

    <ul id="directions">
      {% for item in recipe.preparation %}
        <li> {{ item }}</li>
      {% endfor %}
    </ul>
  </section>

  <section class="recipe-section">
    <h2>Informações adicionais</h2>

    <p id="note">{{ recipe.information }}</p>
  </section>
</div>
{% endblock content %}
