<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
    <title>Foodfy</title>
  {% endblock head %}
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="admin">
    <nav class="wrapper">
      <a href="/admin/recipes"><img src="/assets/logo_white.png" id="logo" alt="foodfy"></a>
      <a class="link__header" href="/admin/recipes">Receitas</a>
      <a class="link__header" href="/admin/chefs">Chefs</a>
    </nav>
  </header>

  <main class="admin">
    {% block content %}
    {% endblock content %}
  </main>

  <script src="/script.js"></script>
</body>
</html>